<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 日志存放的路径 -->
    <property name="LOG_HOME" value="/usr/local/yingxieg/logs/" />

    <!-- 输出到窗口 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%7p) %boldMagenta(${PID:-}) [%15.15t] %cyan(%-40.40logger{39}) : %m%n</pattern>
        </encoder>
    </appender>

    <!-- 输出到文件 -->
    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天分文件夹存放 ，并压缩 -->
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/log.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 每个文件的最大值 5MB,超过则编号,生成新文件 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 例如，假设每天滚动，且 maxHistory 是 15，则只 保留最近 15 天的归档文件，删除之前的文件。 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.project.yingxieg" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="rollingFileAppender" />
    </root>
</configuration>